# Dataset: Points of Interests Twitter

In [25]:
import pandas as pd
import numpy as np
import tweepy
import json
from tqdm.notebook import tqdm
import time

In [26]:
twitter_credentials = []
with open('../../twitter_credentials.json', 'r') as f:
    twitter_credentials = json.load(f)
    
# TwitterAPI Authentication
auth = tweepy.OAuthHandler(twitter_credentials['consumer_key'], twitter_credentials['consumer_secret'])
auth.set_access_token(twitter_credentials['access_token_key'], twitter_credentials['access_token_secret'])
API = tweepy.API(auth)

# Dataset

In [2]:
df = pd.read_csv('poi-twitter-category.csv')
df.head()

                         ID         Twitter             Category
0  4b474a16f964a520382e26e3    starbucks_gr          Coffee Shop
1  4b474ac9f964a520472e26e3    starbucks_gr          Coffee Shop
2  4b4b19baf964a5204a9226e3    tgifridaysgr  American Restaurant
3  4b659a3ff964a52006f62ae3       teloglion           Art Museum
4  4b6d4b66f964a520bf6f2ce3  paradosiakonet          Snack Place

In [3]:
print(f'Entries: {len(df)}')
print(f'Unique Categories: {len(df.Category.unique())}')

Entries: 1544
Unique Categories: 219

In [11]:
dublicates = df.pivot_table(index = 'Twitter', aggfunc ='size')
dublicates = dublicates[dublicates >= 2].sort_values(ascending = False).to_frame()
dublicates.columns = ['Count']
print(f'Total Number of dublicates: {dublicates.Count.sum()}')
dublicates.head(5)

Total Number of dublicates: 843

                Count
Twitter
bp_plc             76
alpha_bank         54
vodafone_gr        48
eurobank_group     43
windhellas         37

In [15]:
df = df.drop_duplicates(subset="Twitter")
df = df.reset_index()
df = df.drop('index', axis = 1)

Entries: 819
Unique Categories: 208

In [16]:
category_count = (df.pivot_table(index = 'Category', aggfunc ='size')
                  .sort_values(ascending = False)
                  .to_frame())
category_count.columns = ['Count']
print(category_count.to_string())

                                 Count
Category
Hotel                              121
Office                              55
Café                                23
Clothing Store                      22
Resort                              21
Electronics Store                   20
Furniture / Home Store              15
Greek Restaurant                    15
Vacation Rental                     13
Tech Startup                        13
Bed & Breakfast                     13
Pharmacy                            12
Beach Bar                            9
Jewelry Store                        9
Gym / Fitness Center                 8
Coffee Shop                          8
Cocktail Bar                         8
Rental Car Location                  8
Salon / Barbershop                   7
Building                             7
School                               7
Factory                              7
Advertising Agency                   7
IT Services                          6
Men's Store                          6
Dentist's Office                     6
Nightclub                            6
Non-Profit                           6
Doctor's Office                      6
Sporting Goods Shop                  6
Radio Station                        5
Bookstore                            5
Athletics & Sports                   5
Automotive Shop                      5
Cosmetics Shop                       5
Pizza Place                          5
Bar                                  5
General College & University         5
Student Center                       5
Gift Shop                            5
Boutique                             4
Women's Store                        4
Design Studio                        4
Winery                               4
Ouzeri                               4
Paper / Office Supplies Store        4
Cruise Ship                          4
Medical Center                       4
Financial or Legal Service           4
Grocery Store                        4
Supermarket                          4
Bakery                               4
Bank                                 4
Mediterranean Restaurant             4
Travel Agency                        4
Toy / Game Store                     4
Mobile Phone Shop                    3
Frozen Yogurt Shop                   3
Miscellaneous Shop                   3
General Entertainment                3
Internet Cafe                        3
Ice Cream Shop                       3
Grilled Meat Restaurant              3
General Travel                       3
Hotel Bar                            3
Business Service                     3
TV Station                           3
Art Gallery                          3
Dessert Shop                         3
Vape Store                           3
Dance Studio                         3
University                           3
Photography Lab                      3
Shoe Store                           3
Seafood Restaurant                   3
Sports Bar                           2
Tourist Information Center           2
Italian Restaurant                   2
Taverna                              2
Snack Place                          2
Warehouse Store                      2
Wine Bar                             2
Spa                                  2
Nutritionist                         2
Smoke Shop                           2
Lawyer                               2
Shopping Mall                        2
Restaurant                           2
Meze Restaurant                      2
Private School                       2
Plane                                2
Music Store                          2
Music Venue                          2
Nail Salon                           2
National Park                        2
Other Great Outdoors                 2
Print Shop                           2
Accessories Store                    2
Yoga Studio                          2
Church                               2
Event Space                          2
Event Service                        2
Bridal Shop                          2
Department Store                     2
Boat or Ferry                        2
Boat Rental                          2
Burger Joint                         2
Betting Shop                         2
Beach                                2
Campground                           2
Eye Doctor                           2
Gas Station                          2
Fast Food Restaurant                 2
Gourmet Shop                         2
Coworking Space                      2
Government Building                  2
Conference Room                      2
College Communications Building      2
Gym                                  2
Convenience Store                    2
City Hall                            1
Rest Area                            1
College Lab                          1
Bubble Tea Shop                      1
Souvlaki Shop                        1
Soccer Field                         1
College Academic Building            1
Soccer Stadium                       1
Candy Store                          1
Bus Station                          1
Campaign Office                      1
Rock Club                            1
Shoe Repair                          1
Breakfast Spot                       1
Brewery                              1
Travel Lounge                        1
Airport                              1
American Restaurant                  1
Wine Shop                            1
Art Museum                           1
Arts & Crafts Store                  1
Vineyard                             1
Video Store                          1
Asian Restaurant                     1
Auditorium                           1
Bagel Shop                           1
Bath House                           1
Steakhouse                           1
Trade School                         1
Bike Shop                            1
Tea Room                             1
Taxi                                 1
Tattoo Parlor                        1
Tanning Salon                        1
Bowling Alley                        1
Summer Camp                          1
Real Estate Office                   1
Strip Club                           1
Recycling Facility                   1
Hobby Shop                           1
College Library                      1
College Technology Building          1
Food Truck                           1
Mental Health Office                 1
Fried Chicken Joint                  1
Funeral Home                         1
Gaming Cafe                          1
Mattress Store                       1
Massage Studio                       1
Lounge                               1
Lingerie Store                       1
Library                              1
Leather Goods Store                  1
Language School                      1
Kafenio                              1
Jazz Club                            1
Island                               1
Hardware Store                       1
Health & Beauty Service              1
Housing Development                  1
Hotel Pool                           1
High School                          1
History Museum                       1
Middle Eastern Restaurant            1
Middle School                        1
Fish Taverna                         1
Outlet Mall                          1
Pool                                 1
Police Station                       1
Hot Dog Joint                        1
Convention Center                    1
Pet Store                            1
Performing Arts Venue                1
Cultural Center                      1
Paella Restaurant                    1
Daycare                              1
Other Repair Shop                    1
Fire Station                         1
Other Nightlife                      1
Deli / Bodega                        1
Organic Grocery                      1
Distribution Center                  1
Dive Spot                            1
Donut Shop                           1
Museum                               1
Movie Theater                        1
Modern Greek Restaurant              1
Construction & Landscaping           1

In [34]:
failed = []
results = []

for account in tqdm(df['Twitter']):
    try:
        user = API.get_user(account)
        results.append(
            [user.screen_name, user.name, user.description ,user.statuses_count, 
             user.friends_count, user.followers_count, user.protected])
    except tweepy.RateLimitError as err:
        print('Rate Limit Hit. Wait 15 min.')
        time.sleep(60*15)
        
    except Exception as err:
        print(f'Errror for {account}: {err}')
        failed.append(account)
        results.append(['','','',0,0,0,'None'])

  0%|          | 0/819 [00:00<?, ?it/s]

Errror for plaisiocomp: [{'code': 50, 'message': 'User not found.'}]
Errror for pull_and_bear: [{'code': 50, 'message': 'User not found.'}]
Errror for zithosgre: [{'code': 50, 'message': 'User not found.'}]
Errror for rhodeshotels: [{'code': 50, 'message': 'User not found.'}]
Errror for katikieshotels: [{'code': 50, 'message': 'User not found.'}]
Errror for the_ixian_grand: [{'code': 50, 'message': 'User not found.'}]
Errror for ikosoceania: [{'code': 50, 'message': 'User not found.'}]
Errror for amathus_hotels: [{'code': 50, 'message': 'User not found.'}]
Errror for konstadinosh: [{'code': 50, 'message': 'User not found.'}]
Errror for metropolispharm: [{'code': 50, 'message': 'User not found.'}]
Errror for astrasuites: [{'code': 50, 'message': 'User not found.'}]
Errror for qcsthessaloniki: [{'code': 50, 'message': 'User not found.'}]
Errror for massalia2010: [{'code': 50, 'message': 'User not found.'}]
Errror for kastelliresort: [{'code': 50, 'message': 'User not found.'}]
Errror for mlslifesimple: [{'code': 50, 'message': 'User not found.'}]
Errror for helexposocial: [{'code': 50, 'message': 'User not found.'}]
Errror for rhodes_hotels: [{'code': 50, 'message': 'User not found.'}]
Errror for neadiagonios: [{'code': 50, 'message': 'User not found.'}]
Errror for tigerhellas: [{'code': 50, 'message': 'User not found.'}]
Errror for todaystores: [{'code': 50, 'message': 'User not found.'}]
Errror for angolocafe: [{'code': 50, 'message': 'User not found.'}]
Errror for latituderss: [{'code': 50, 'message': 'User not found.'}]
Errror for weddingssanto: [{'code': 50, 'message': 'User not found.'}]
Errror for themartgr: [{'code': 50, 'message': 'User not found.'}]
Errror for tbarpeople: [{'code': 50, 'message': 'User not found.'}]
Errror for chris_bed_club: [{'code': 50, 'message': 'User not found.'}]
Errror for cocomatworld: [{'code': 50, 'message': 'User not found.'}]
Errror for dentagr: [{'code': 63, 'message': 'User has been suspended.'}]
Errror for dodoniicecream: [{'code': 50, 'message': 'User not found.'}]
Errror for senapolloblue: [{'code': 50, 'message': 'User not found.'}]
Errror for mpakalikon: [{'code': 50, 'message': 'User not found.'}]
Errror for foreasainou: [{'code': 50, 'message': 'User not found.'}]
Errror for to_daylicious: [{'code': 50, 'message': 'User not found.'}]
Errror for innovatiasyste: [{'code': 50, 'message': 'User not found.'}]
Errror for oifiloimas: [{'code': 50, 'message': 'User not found.'}]
Errror for fycthessaloniki: [{'code': 50, 'message': 'User not found.'}]
Errror for colorsrooms: [{'code': 50, 'message': 'User not found.'}]
Errror for radio1rodos: [{'code': 50, 'message': 'User not found.'}]
Errror for grecotelhotels: [{'code': 50, 'message': 'User not found.'}]
Errror for skokkini: [{'code': 63, 'message': 'User has been suspended.'}]
Errror for venusfitclub: [{'code': 50, 'message': 'User not found.'}]
Errror for myrtosa: [{'code': 50, 'message': 'User not found.'}]
Errror for theodoulidis: [{'code': 63, 'message': 'User has been suspended.'}]
Errror for coririgas: [{'code': 50, 'message': 'User not found.'}]
Errror for greek_pharmacy: [{'code': 63, 'message': 'User has been suspended.'}]
Errror for dim.giannelis: [{'code': 50, 'message': 'User not found.'}]
Errror for thassosparadise: [{'code': 50, 'message': 'User not found.'}]
Errror for www.hotelsyrtaki.gr: [{'code': 50, 'message': 'User not found.'}]
Errror for boutique5hotel: [{'code': 50, 'message': 'User not found.'}]
Errror for chillboxgreece: [{'code': 50, 'message': 'User not found.'}]
Errror for flisvosestiatoriokafe: [{'code': 50, 'message': 'User not found.'}]
Errror for tea_route: [{'code': 50, 'message': 'User not found.'}]
Errror for aldemarhotels: [{'code': 50, 'message': 'User not found.'}]
Errror for ubb_bg: [{'code': 50, 'message': 'User not found.'}]
Errror for coffeeislandco: [{'code': 50, 'message': 'User not found.'}]
Errror for websthetics: [{'code': 50, 'message': 'User not found.'}]
Errror for www.alfaradio.gr: [{'code': 50, 'message': 'User not found.'}]
Errror for prokal_prokatoikia: [{'code': 50, 'message': 'User not found.'}]
Errror for www.liros.gr: [{'code': 50, 'message': 'User not found.'}]
Errror for usandthemrecords: [{'code': 50, 'message': 'User not found.'}]
Errror for theoldschoolgr: [{'code': 50, 'message': 'User not found.'}]
Errror for underthegun_th: [{'code': 50, 'message': 'User not found.'}]
Errror for thirahotels: [{'code': 50, 'message': 'User not found.'}]
Errror for tsimachidis: [{'code': 50, 'message': 'User not found.'}]
Errror for queensstr: [{'code': 50, 'message': 'User not found.'}]
Errror for pefkosbakery: [{'code': 50, 'message': 'User not found.'}]
Errror for goldenbuy_gr: [{'code': 50, 'message': 'User not found.'}]
Errror for perfectvisiongr: [{'code': 50, 'message': 'User not found.'}]
Errror for salonicaports: [{'code': 50, 'message': 'User not found.'}]
Errror for foveraprostasia: [{'code': 50, 'message': 'User not found.'}]
Errror for mglparts: [{'code': 50, 'message': 'User not found.'}]
Errror for intetwater_eu: [{'code': 50, 'message': 'User not found.'}]
Errror for demetriospantel: [{'code': 50, 'message': 'User not found.'}]
Errror for aiesec_uom: [{'code': 50, 'message': 'User not found.'}]
Errror for rhodesroadsgr: [{'code': 50, 'message': 'User not found.'}]
Errror for zisalex: [{'code': 63, 'message': 'User has been suspended.'}]
Errror for apharmacy_: [{'code': 50, 'message': 'User not found.'}]
Errror for newlinefashion: [{'code': 63, 'message': 'User has been suspended.'}]
Errror for graphxbase: [{'code': 50, 'message': 'User not found.'}]
Errror for doktorisbros: [{'code': 50, 'message': 'User not found.'}]
Errror for carglassgreece: [{'code': 50, 'message': 'User not found.'}]
Errror for thanasisxa89: [{'code': 50, 'message': 'User not found.'}]
Errror for speechtherapygr: [{'code': 50, 'message': 'User not found.'}]
Errror for auth: [{'code': 50, 'message': 'User not found.'}]
Errror for battlenet3d: [{'code': 50, 'message': 'User not found.'}]
Errror for greekflipflops: [{'code': 50, 'message': 'User not found.'}]
Errror for duendejazzbar: [{'code': 50, 'message': 'User not found.'}]
Errror for todays_ofcl: [{'code': 50, 'message': 'User not found.'}]
Errror for goldcar: [{'code': 50, 'message': 'User not found.'}]
Errror for widesebgr: [{'code': 50, 'message': 'User not found.'}]
Errror for likyliky_thess: [{'code': 50, 'message': 'User not found.'}]
Errror for wotldwideweb: [{'code': 50, 'message': 'User not found.'}]
Errror for amadacolossos: [{'code': 50, 'message': 'User not found.'}]

In [68]:
dataset = pd.DataFrame(results)
dataset.columns = ['screen_name', 'name', 'description', 'statuses_count', 'friends_count', 'followers_count', 'protected']
dataset.head()

,screen_name,name,description,statuses_count,friends_count,followers_count,protected
0,Starbucks_Gr,Starbucks Greece,Να εμπνέουμε και να καλλιεργούμε το ανθρώπινο ...,10,1,379,False
1,TGIFridaysGR,TGI Fridays Greece,Καταπληκτικά φαγητά και ποτά σε μια αληθινά φι...,5192,1290,3318,False
2,teloglion,Τελλόγλειο Ίδρυμα,Το Τελλόγλειο Ίδρυμα Τεχνών Α.Π.Θ. ιδρύθηκε το...,1631,365,2374,False
3,Paradosiakonet,Παραδοσιακό,,617,5,24,False
4,medpalace,Mediterranean Palace,A cozy 5 star hotel in the city center with an...,269,543,381,False

In [69]:
dataset['category'] = df['Category']
dataset['id'] = df['ID']

In [70]:
dataset = dataset[dataset['screen_name'] != '']

In [71]:
dataset = dataset[dataset['protected'] == False]

In [73]:
print(f'Entries: {len(dataset)}')
print(f'Unique Categories: {len(dataset.category.unique())}')

Entries: 712
Unique Categories: 194

In [75]:
dataset = dataset[['id', 'screen_name', 'category']]

In [79]:
dataset.to_csv('poi-twitter-category-processed.csv', index=False)