In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('result-method-parliament-member-search.csv')
df.head()

,Name,GoogleAPI Fullnames,GoogleAPI Surnames,TwitterAPI Fullnames,TwitterAPI Surnames,TwitterAPI SurnamesLatin,GoogleAPI SurnamesLatin
0,Βιλιάρδος Βασίλειος,True,True,False,True,True,True
1,Αλεξοπούλου Αικατερίνη,True,False,False,False,False,True
2,Αθανασίου Μαρία,True,False,False,False,False,False
3,Βαγενάς Δημήτριος,True,True,False,False,False,False
4,Ασημακοπούλου Χάιδω,False,False,False,True,False,False

# GOOGLE API

In [22]:
181 + 26

207

In [26]:
len(df[(df['GoogleAPI Fullnames'] == True)])

181

In [28]:
len(df[(df['GoogleAPI Fullnames'] == False) & (df['GoogleAPI Surnames'] == True)])

26

In [29]:
len(df[(df['GoogleAPI Fullnames'] == False) & (df['GoogleAPI Surnames'] == False) & (df['GoogleAPI SurnamesLatin'] == True)])

3

# TWITTER API

In [31]:
len(df[(df['TwitterAPI Surnames'] == True)])

159

In [32]:
len(df[(df['TwitterAPI Surnames'] == False) & (df['TwitterAPI SurnamesLatin'] == True)])

44

In [34]:
len(df[(df['TwitterAPI Fullnames'] == True) & (df['TwitterAPI Surnames'] == False) & (df['TwitterAPI SurnamesLatin'] == False)])

2

In [35]:
159+44

203

In [40]:
(207/238)*100

86.97478991596638

In [45]:
len(df[(df['GoogleAPI Fullnames'] == True) 
       | (df['GoogleAPI Surnames'] == True) 
       | (df['GoogleAPI SurnamesLatin'] == True)
       | (df['TwitterAPI Surnames'] == True)
       | (df['TwitterAPI SurnamesLatin'] == True)])

228

In [46]:
228/238

0.957983193277311