# Hotels - Search
---

https://money-tourism.gr/apoklistiko-to-top-100-ton-xenodochion-gia-kratisis-tou-2018-kata-holidaycheck/

Libraries

In [1]:
from batoomer.extras.nd_utils import fetch_nd_data
import numpy as np
import pandas as pd
import json
import tweepy
from tqdm.notebook import tqdm

import seaborn as sns
import matplotlib.pyplot as plt

Twitter API:

In [2]:
twitter_credentials = []
with open('../../../twitter_credentials.json', 'r') as f:
    twitter_credentials = json.load(f)        

# TwitterAPI Authentication
auth = tweepy.OAuthHandler(twitter_credentials['consumer_key'],
                                   twitter_credentials['consumer_secret'])
auth.set_access_token(twitter_credentials['access_token_key'],
                              twitter_credentials['access_token_secret'])
API = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True, timeout=60*5)

Load Dataset

In [3]:
df = pd.read_csv('greek-hotels-2018-search.csv', delimiter=';')
df.replace(np.nan, '', inplace=True)
df.head()

,Hotel City,Hotelname,Twitter Handle,Website,Facebook Handle
0,Acharavi,Hotel Matoula,,,
1,Acharavi,Hotel Acharavi Beach,,https://www.acharavibeach.com/,https://www.facebook.com/AcharaviBeachHotelCorfu/
2,Adelianos Kampos,Hotel Kathrin Beach,,https://kathrinbeach.com/,https://www.facebook.com/Kathrin-Beach-Hotel-1...
3,Afandou,Aelia Resort,,,
4,Agia Pelagia,Hotel Alexander House,,http://www.alexanderhouse.gr/en/,https://www.facebook.com/alexanderhousehotel

# Statistics
---

In [4]:
print(f'Size of dataset: {len(df)}.')
print(f"Hotels with a Twitter Account: {len(df[df['Twitter Handle'] != ''])}")
print(f"Hotels without a Twitter Account: {len(df[df['Twitter Handle'] == ''])}")

Size of dataset: 99.
Hotels with a Twitter Account: 32
Hotels without a Twitter Account: 67

In [5]:
print(f'Size of dataset: {len(df)}.')
print(f"Hotels with a Facebook Account: {len(df[df['Facebook Handle'] != ''])}")
print(f"Hotels without a Facebook Account: {len(df[df['Facebook Handle'] == ''])}")

Size of dataset: 99.
Hotels with a Facebook Account: 78
Hotels without a Facebook Account: 21

# Statistic for Members with an Account  (29/03/2021)
---

## fetch some data.